<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Form</title>
</head>
<body>
    <h1>Flask Form</h1>
    <form action="/sub" method="POST">
        <label for="input_text">Enter some text:</label><br>
        <input type="text" id="input_text" name="link"><br><br>
        <input type="submit" value="Submit">
        <button onclick="document.getElementById('input_text').value = ''">Clear input field</button>
    </form>
</body>
</html>
